@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Scheherazade&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Cardo', serif;
}

.header {
  overflow: hidden;
  background-color: black;
  padding: 10px 20px;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  line-height: 25px;
  font-family: 'Scheherazade', serif;
  letter-spacing: 3px;
}

.header a.logo {
  font-size: 25px;
  font-family: 'Poiret One', cursive;
}

.header a:hover {
  color: gray;
}

.header-right {
  float: right;
}

@media screen and (max-width: 800px) {
  .header a {
    float: none;
    display: block;
    text-align: center;
  }
  .header-right {
    float: none;
  }
}

body, html {
  height: 100%;
}

.hero-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.pexels.com/photos/4566919/pexels-photo-4566919.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-text {
  text-align: center;
  color: white;
  font-size: 30px;
  letter-spacing: 10px;
}

@media screen and (max-width: 600px) {
  .hero-text {
  width: 100%;
  font-size: 25px;
 }
}

@media screen and (max-width: 400px) {
  .hero-text {
  width: 100%;
  font-size: 18px;
 }
}

img {
  float: left;
  width: 400px;
  max-width: 100%;
}

h2 {
  font-weight: 400;
  font-size: 30px;
  padding-top: 35px;
}

p {
  font-size: 22px;
  padding: 35px 20px;
  text-align: center;
  letter-spacing: 1px;
}

@media screen and (max-width: 800px) {
  h2 {
  font-weight: 400;
  font-size: 26px;
  }
  p {
  font-size: 20px;
  padding: 20px 10px;
  text-align: center;
  letter-spacing: 1px;    
  }
}

.flex-container-gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 70px 0px;
}

@media screen and (max-width: 400px) {
  .flex-container-gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 30px 0 30px;
 }
}


.flex-container-gallery > div {
  margin: 20px;
  width: 300px;
}

@media screen and (max-width: 400px) {
  .flex-container-gallery > div {
  margin: 10px;
  width: 150px;
 }
}

.form-group {
  padding: 20px;
  margin-bottom: 100px;
}

@media screen and (max-width: 400px) {
  .form-group {
  padding: 20px;
  margin-bottom: 50px;
 }
}

.submit-button {
  display: block;
  width: 100%;
  min-width: 100px;
  max-width: 290px;
  padding: 4px;
  background-color: white;
  cursor: pointer;
  font-size: 24px;
  border: 5px double black;
  margin: 0 auto;
  letter-spacing: 3px;
}

.submit-button:hover {
  color: white;
  background-color: #C71585;
  border: 5px double white;
}

@media screen and (max-width: 700px) {
  .submit-button {
  display: block;
  width: 100%;
  min-width: 50px;
  max-width: 220px;
  padding: 16px;
  font-size: 22px;
  border: 5px double black;
 }
}

@media screen and (max-width: 400px) {
  .submit-button {
  display: block;
  width: 100%;
  min-width: 50px;
  max-width: 220px;
  padding: 16px;
  font-size: 18px;
  border: 5px double black;
 }
}

.flex-footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  letter-spacing: 3px;
}

@media screen and (max-width: 1200px) {
  .flex-footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  letter-spacing: 3px;
  padding-top: 40px;  
 }
}

.footer-left {
  text-align: center;
  padding-right: 100px;
}

@media screen and (max-width: 1200px) {
  .footer-left {
  text-align: center;
  width: 100%;
  padding: 0;
 }
}

.footer-left a.logo {
  font-size: 25px;
  font-family: 'Poiret One', cursive;
  text-decoration: none;
  color: white;
  text-align: center;
}

.footer-left a:hover {
  color: gray;
}

.footer-center {
  padding-top: 26px;
}

@media screen and (max-width: 1200px) {
  .footer-center {
  width: 100%;
  padding: 0;
 }
}

.footer-center p {
  font-family: 'Scheherazade', serif;
  font-size: 20px;
  letter-spacing: 3px;
}

.footer-right {
  text-align: center;
  padding-left: 100px;
  padding-right: 180px;
}

@media screen and (max-width: 1200px) {
  .footer-right {
  text-align: center;
  width: 100%;
  padding: 0;
 }
}

.social-media {
    list-style: none;
}

.social-media li {
    display: inline-block;
    font-size: 180%;
}

.social-media li a {
    color: white;
}

.instagram:hover {
  color: gray;
}

.credit {
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'Scheherazade', serif;
  font-size: 18px;
  letter-spacing: 3px;
  padding-top: 20px;
  padding-bottom: 10px;
}

@media screen and (max-width: 500px) {
  .credit {
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'Scheherazade', serif;
  font-size: 16px;
  letter-spacing: 3px;
  padding-top: 30px;
  padding-bottom: 10px;
 }
}

@media screen and (max-width: 400px) {
  .credit {
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'Scheherazade', serif;
  font-size: 14px;
  letter-spacing: 3px;
  padding-top: 30px;
  padding-bottom: 10px;
 }
}

.credit a {
  color: white;
  text-decoration: none;
}

.credit a:hover {
  color: gray;
}
